# Dependency directories
/node_modules

# Build files
/build
/dist

# Environment variables
.env

# IDE or editor files
/.idea
/.vscode

# Mac OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled files
*.log
*.class
*.jar
*.war
*.ear
*.iml
*.swp
*.DS_Store
